*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 128, 128);
    padding: 15px;
}

.DARK{
    background-color: #333;
    color: #fff;
}